@model CheeseMVC.ViewModels.ViewMenuViewModel
@using CheeseMVC.Models

@{
    //ViewData["Title"] = "ViewMenu";
    ViewBag.Title = "MENU NAME";
}

<h2>ViewMenu</h2>

@if (Model.Items.Count() > 0)
{
    <ul>
    @foreach (CheeseMenu item in Model.Items)
        //Loop over Model.Items
        //Model.Items contains CheeseMenu objects
    {
            <li>@item.Cheese.Name</li>
            //Instructions say should look like CheeseMenu.Cheeses.Name
    }
    </ul>
}
else
{
    <h3>No menus yet</h3>

}
<p><a asp-route-id="@Model.Menu.ID" asp-controller="Menu">Add Item</a></p>
