@model CheeseMVC.ViewModels.ViewMenuViewModel

@{
    ViewBag.Title = Model.Menu.Name;
}

<h2>ViewMenu</h2>

@if (Model.Items.Count() > 0)
{
    <ul>
    @foreach (var cheeseMenu in Model.Items)
        //Loop over Model.Items
        //Model.Items contains CheeseMenu objects
    {
            <li>@cheeseMenu.Cheese.Name</li>
            //Instructions say should look like CheeseMenu.Cheeses.Name
    }
    </ul>
}
else
{
    <h3>No menus yet</h3>

}
<p><a asp-route-id="@Model.Menu.ID" asp-action="AddItem"  asp-controller="Menu">Add Item</a></p>
